.shadowBlack {
    box-shadow: 2px 2px 11px black
}

.shadowGreen {
    box-shadow: 2px 2px 11px green
}

.shadowBlue {
    box-shadow: 2px 2px 11px blue
}

.shadowWhite {
    box-shadow: 2px 2px 11px white
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.arman-login-radio-pad {
    padding-left: 20px;
}

.arman-logo {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}